<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>

</head>

<body>
  <div data-widget-host="ensdomains-renewal-widget" class="preview">
    <script type="text/props">
      {
        "referrerAddress": "0xfFD1Ac3e8818AdCbe5C597ea076E8D3210B45df5",
        "userAddress": "0xfFD1Ac3e8818AdCbe5C597ea076E8D3210B45df5"
      }
    </script>
  </div>
  <script async src="/bundle.js"></script>
</body>

</html>